/* Global */
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header elements */
header {
  border-top: 1px solid #212A3E;
  border-bottom: 1px solid #212A3E;
}

nav {
  background-color: #fff;
  padding-left: 16px;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* Main elements */
main {
  font-family: Arial, Helvetica, sans-serif;
  min-height: calc(100vh - 320px);
  background-color: #f2f2f2;
  font-size: 0.85rem;
}

main > div {
  max-width: 95%;
}

h3 {
  margin: 2rem 0;
}

table {
  text-align: center;
  white-space: nowrap;
}

td {
  word-break: keep-all;
}

tbody tr {
  z-index: 0;
}

tbody {
  line-height: 60px;
}

th:first-child {
  width: 2%;
}

th:nth-child(2) {
  width: 6%;
}

th:not(
:nth-child(1),
:nth-child(2),  
:nth-child(13)) {
  width: 7%;
}

th button {
  background-color: #fff;
  border: 0;
  font-weight: bold;
}

td:last-child {
  display: flex;
  justify-content: center;
  align-self: center;
}

/* Footer elements */
footer {
  margin-top: auto;
  background-color: #212A3E;
  color: #fff;
}

footer p {
  text-align: center;
}

/* Header classes*/
.logo,
.btn-light {
  background-color: #212A3E;
  color: white;
}

.logo {
  float: left;
  height: 54px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo a{
  margin-left: 30px;
  color: #FFF;
  font-size: 1.2rem;
  line-height: 1.2rem;
  inline-size: 75px;
  word-wrap: break-word;
}

.dropdown-menu {
  right: 0;
}

/* Main classes */
.container {
  background-color: #fff;
  border: 2px solid rgba(153, 153, 153, 0.5);
  border-radius: 6px;
}

.toolbar {
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.filter {
  position: relative;
}

.filter-box {
  background: #fff;
  min-width: 370px;
  border: 2px solid #212A3E;
  border-radius: 6px;
  position: absolute;
  right: 8px;
  display: none;
  z-index: 1;
}

.box-head {
  background-color: #f2f2f2;
  height: 28px;
  border-bottom: 2px solid #212A3E;
  border-radius: 6px 6px 0 0;
}

.box-body {
  font-size: 0.8rem;
}

.title {
  width: 3rem;
  font-weight: bold;
  margin-left: 10px;
  line-height: 28px;
}

.filter-box p {
  text-align: center;
  color: red;
}

.filter-form-row {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.filter-form-row .content {
  margin-left: 1rem;
}

.filter-form-row:nth-child(1) .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}

.filter-form-row:nth-child(2) .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.filter-form-row:nth-child(5) .content {
  display: flex;
  gap: 1rem;
}

.metric input,
.metric label {
  line-height: 1.8rem;
  vertical-align: middle;
  margin-left: 0.2rem;
}

.date-range:first-child {
  margin-bottom: 0.5rem;
}

.date-range > label {
  width: 2rem;
}

.date-range > input {
  border: 1px solid #999;
  border-radius: 6px;
  text-align: center;
}

.error {
  margin-left: 2rem;
}

.container > div,
.btn-primary,
.container .btn-light {
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #fff;
  border: none;
  color: #000;
}

.btn-primary:hover {
  background-color: #212A3E;
}

.caret-up {
  content: url("./src/assets/caret-up.svg");
  vertical-align: middle;
}

.caret-down {
  content: url("./src/assets/caret-down.svg");
  vertical-align: middle;
}

.up {
  background-color: rgb(194, 243, 207);
  border-radius: 6px;
}

.up-medium {
  background-color: rgb(163, 236, 183);
  border-radius: 6px;
}

.up-extreme {
  background-color: rgb(133, 230, 159);
  border-radius: 6px;
}

.down {
  background-color: rgb(254, 235, 235);
  border-radius: 6px;
}

.down-medium {
  background-color: rgb(250, 162, 163);
  border-radius: 6px;
}

.down-extreme {
  background-color: rgb(250, 90, 92);
  border-radius: 6px;
}

.percentage::after {
  content: "%";
}

.pagination {
  justify-content: end;
  margin-right: 3rem;
}

.page-link.active {
  z-index: 0;
}

/* Footer classes */
.row {
  padding: 2rem 0;
}

.list-group-item:first-child {
  background-color: #212A3E;
  color: #fff;
}

footer .p-2:first-child {
  display: flex;
}

footer .p-2:first-child a {
  font-size: 1.5rem;
  word-wrap: break-word;
  line-height: 2rem;
  inline-size: 7rem;
}

/* Device screens responsive */
@media (max-width: 1240px) {
  td:nth-child(10),
  td:nth-child(11),
  td:nth-child(12),
  td:nth-child(13),
  th:nth-child(10),
  th:nth-child(11),
  th:nth-child(12),
  th:nth-child(13) {
    display: none;
  }
}

@media (max-width: 683px) {
  td:nth-child(9),
  th:nth-child(9) {
    display: none;
  }
}

@media (max-width: 623px) {
  td:nth-child(8),
  th:nth-child(8) {
    display: none;
  }
}

@media (max-width: 581px) {
  td:nth-child(6),
  th:nth-child(6),
  td:nth-child(7),
  th:nth-child(7) {
    display: none;
  }
}
